<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.2)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
  [fullScreen]="true"
  id="spinner-loading"
  ><p style="color: white">Cargando...</p></ngx-spinner
>
<div class="min-h-screen bg-gray-50/50">
  <app-sidebar />
  <div class="p-4 xl:ml-80">
    <nav
      class="block w-full max-w-full bg-transparent text-white shadow-none rounded-xl transition-all px-0 py-1"
    >
      <app-header />
    </nav>
    <div>
      <router-outlet />
    </div>
    <div class="text-blue-gray-600">
      <app-footer />
    </div>
  </div>
</div>
